.search-container {
  margin-left: 20px;
  font-size: 12px;
}
.site-header__search-input-wrapper {
  position: relative;
}
.site-header__search-input-wrapper::before {
  content: "";
  width: 15px;
  height: 15px;
  display: black;
  position: absolute;
  left: 5px;
  top: 50%;
  transform: translateY(-50%);
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("data:image/svg+xml,%3Csvg stroke='currentColor' fill='currentColor' stroke-width='0' viewBox='0 0 1024 1024' height='1em' width='1em' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M909.6 854.5L649.9 594.8C690.2 542.7 712 479 712 412c0-80.2-31.3-155.4-87.9-212.1-56.6-56.7-132-87.9-212.1-87.9s-155.5 31.3-212.1 87.9C143.2 256.5 112 331.8 112 412c0 80.1 31.3 155.5 87.9 212.1C256.5 680.8 331.8 712 412 712c67 0 130.6-21.8 182.7-62l259.7 259.6a8.2 8.2 0 0 0 11.6 0l43.6-43.5a8.2 8.2 0 0 0 0-11.6zM570.4 570.4C528 612.7 471.8 636 412 636s-116-23.3-158.4-65.6C211.3 528 188 471.8 188 412s23.3-116.1 65.6-158.4C296 211.3 352.2 188 412 188s116.1 23.2 158.4 65.6S636 352.2 636 412s-23.3 116.1-65.6 158.4z'%3E%3C/path%3E%3C/svg%3E");
}
.site-header__search-input {
  width: 100%;
  box-sizing: border-box;
  background-color: #f3f3f3;
  border-color: #dfdbdb;
  border-style: solid;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 4px;
  height: 25px;
}
.product-card {
  width: auto;
  height: 60px;
  display: flex;
  flex-direction: row;
  /* justify-content: space-between; */
  border-radius: 10px;
  /* box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2); */
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  overflow: hidden;
  position: relative;
  background-color: #fff;
  margin-bottom: 20px;
}

.products-header {
  text-align: left;
  margin-bottom: 10px;
}

.card-details {
  margin-left: 4px;
  text-align: left;
}

.card-details p {
  margin-top: 0;
}
.search-tags {
  display: flex;
  width: 100%;
  gap: 1rem;
  overflow: auto;
}
.search-tags a {
  color: black;
  text-decoration: none;
  padding: 0.25rem 0.5rem;
  border: 1px solid black;
  border-radius: 50px;
  display: black;
  min-width: max-content;
}
.product-title {
  font-weight: 500;
  margin-bottom: 0.25rem;
}
